---
---

<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="main-image">
    <div class="main-text-holder">
      <h1>Cory Snyder</h1>
      <h2>Full Stack Developer - Engineer - Fitness Enthusiast</h2>   
     </div> 
    </div>
    <div id="twitter-feed">
      <div class="section-heading">Recent Tweets</div>
      <a class="twitter-timeline" href="https://twitter.com/coryfsnyder" data-tweet-limit="5" data-chrome="nofooter noborders noheader transparent" data-widget-id="553982042741166080">Tweets by @coryfsnyder</a>
    </div>
  </body>
  {% include footer.html %}
</html>
